.header-component {
  width: 100%;
  margin-top: 0;
  height: 80px;
  background-color: var(--cinzaEscuro);
  color: var(--branco);
  border-radius: 0 0 4px 4px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;  
}

.text {
  color: var(--branco);
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  vertical-align: top;
}

.photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 10px 4px;
}

.username {
  height: 80px;
  float: right;
  cursor: pointer;
  margin-top: -8px;
  margin-right: 20px;
}

.username-text {
  color: var(--branco);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  vertical-align: top;
  padding-left: 10px;
  display: inline-block;
  margin-top: 26px;
}

.icon {
  padding-left: 10px;
  color: var(--branco);
  cursor: pointer;
  position: absolute;
  top: 26px
}

.separator {
  background-color: var(--preto);
  padding: 1px !important;
}

.username-items {
  margin-top: -50px;
  margin-left: 80px;
  position: fixed;
  background-color: var(--branco);
  cursor: pointer;
  min-height: 40px; // 1 items
  max-height: 320px; // 10 items
  border: 1px solid var(--cinzaMedio);
  border-top-width: 0px;
  line-height: normal;
  box-shadow: 0 0 4px 0 var(--cinzaMedio);
  border-radius: 0 0 4px 4px;

  & ul {
    margin: 8px 0;
    padding: 0 8px;

    & li {
      list-style-type: none;
      font-size: 18px;
      padding: 0 8px;

      &:hover {
        background-color: var(--azulClaro);
      }
    }
  }
}