.input-component {
  background-color: var(--branco);
  border: 2px solid var(--cinzaMedio);
  width: 100%;
  border-radius: 6px;
  margin: 2px 0;
  outline: none;
  padding: 4px;
  box-shadow: 0 0 4px 0 var(--cinzaMedio);
}

.input-component:not(.input-error):focus {
  border-color: var(--azulMedio);
  box-shadow: 0 0 8px 0 var(--azulMedio);
}

.input-icon.input-icon-left {
  padding: 4px 4px 4px 32px;
}

.input-icon.input-icon-right {
  padding: 4px 32px 4px 4px;
}

.input-component-icon {
  position: relative;
  top: -34px;
  left: 10px;
}

.input-icon-left ~ i.input-component-icon {
  float: left;
}

.input-icon-right ~ i.input-component-icon {
  float: right;
  margin-right: 20px;
  margin-top: 4px;
}

.input-error {
  border-color: var(--vermelhoEscuro);
}

.input-component:disabled {
  background-color: var(--cinzaClaro);
  cursor: not-allowed;
}