<app-detail-entity name="da Categoria" (btnBackClick)="btnBack()">
  <div class="row">
    <div class="col-md-12">
      <label>Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-input
        name="inputName"
        [disabled]="true"
        value="{{ category?.Name }}"
      ></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Icone</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <app-input
        name="inputIcon"
        [disabled]="true"
        value="{{ category?.Icon }}"
        icon="{{ category?.Icon }}"
      ></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Cor</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-input
        inputStyle="'background-color': {{category?.Color}}"
        name="inputColor"
        [disabled]="true"
        value="{{ category?.Color }}"
      ></app-input>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</app-detail-entity>
