<form [formGroup]="uploadForm" (ngSubmit)="uploadPhoto(uploadForm.value)">
  <div class="row">
    <div
      class="col-md-12"
      style="font-size: 40px; font-weight: 600; text-align: center"
    >
      Foto do Usuário
    </div>
  </div>
  <app-card name="cardPhotoUpload">
    <div class="row">
      <div class="col-md-12">
        <label>Nome</label>
        <app-input
          name="nome"
          placeholder="Nome"
          [value]="user?.Name"
          icon="fa-user"
          disabled="true"
        ></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Foto</label>
        <app-input
          type="file"
          accept="image/*"
          name="photo"
          placeholder="Foto"
          icon="fa-image"
          [formGroup]="uploadForm"
          formControlName="photo"
          (change)="onFileChange($event)"
          [error]="errorMessage.length > 0"
        ></app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-lg-2">
        <app-button
          type="submit"
          name="btnSalvar"
          text="Salvar"
          color="vermelho"
          [disabled]="!uploadForm.valid"
        ></app-button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div
          class="error"
          style="text-align: center"
          *ngIf="errorMessage.length > 0"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </app-card>
</form>

<div class="row">
  <div class="col-md-2 col-lg-2">
    <app-button
      name="btnVoltar"
      text="Voltar"
      [disabled]="false"
      (click)="btnBack()"
      color="cinza"
    ></app-button>
  </div>
</div>
