.button-component {
  border-radius: 6px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin: 4px auto;
  margin-right: 4px;
  border: 1px solid var(--cinzaEscuro);
  background-color: var(--branco);
  color: var(--preto);
  outline: none;
}

.button-component-padding {
  padding: 8px 0px;
}

.button-component-icon-left {
  position: relative;
  top: 2px;
  left: -2px;
}

.button-component-icon-right {
  position: relative;
  top: 2px;
  left: 2px;
}

.button-component:not(:disabled) {
  cursor: pointer;
}

.button-component:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-component:hover:not(:disabled) {
  background-color: var(--cinzaEscuro);
  color: var(--branco);
  border: 1px solid var(--preto);
}

.button-component:hover:disabled {
  border: 1px solid var(--cinzaEscuro);
  background-color: var(--branco);
  color: var(--preto);
}

.button-preto {
  background-color: var(--preto);
  color: var(--branco);
  border: 1px solid var(--cinzaMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--cinzaMedio);
    color: var(--preto);
    border: 1px solid var(--cinzaEscuro);
  }

  &:hover:disabled {
    background-color: var(--preto);
    color: var(--branco);
    border: 1px solid var(--cinzaMedio);
  }
}

.button-cinza {
  background-color: var(--cinzaEscuro);
  color: var(--branco);
  border: 1px solid var(--cinzaMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--cinzaMedio);
    color: var(--preto);
    border: 1px solid var(--cinzaEscuro);
  }

  &:hover:disabled {
    background-color: var(--cinzaEscuro);
    color: var(--branco);
    border: 1px solid var(--cinzaMedio);
  }
}

.button-azul {
  background-color: var(--azulEscuro);
  color: var(--branco);
  border: 1px solid var(--azulMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--azulMedio);
    color: var(--preto);
    border: 1px solid var(--azulEscuro);
  }

  &:hover:disabled {
    background-color: var(--azulEscuro);
    color: var(--branco);
    border: 1px solid var(--azulMedio);
  }
}

.button-verde {
  background-color: var(--verdeEscuro);
  color: var(--branco);
  border: 1px solid var(--verdeMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--verdeMedio);
    color: var(--preto);
    border: 1px solid var(--verdeEscuro);
  }

  &:hover:disabled {
    background-color: var(--verdeEscuro);
    color: var(--branco);
    border: 1px solid var(--verdeMedio);
  }
}

.button-vermelho {
  background-color: var(--vermelhoEscuro);
  color: var(--branco);
  border: 1px solid var(--vermelhoMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--vermelhoMedio);
    color: var(--preto);
    border: 1px solid var(--vermelhoEscuro);
  }

  &:hover:disabled {
    background-color: var(--vermelhoEscuro);
    color: var(--branco);
    border: 1px solid var(--vermelhoMedio);
  }
}


.button-amarelo {
  background-color: var(--amareloEscuro);
  color: var(--branco);
  border: 1px solid var(--amareloMedio);
  
  &:hover:not(:disabled) {
    background-color: var(--amareloMedio);
    color: var(--preto);
    border: 1px solid var(--amareloEscuro);
  }

  &:hover:disabled {
    background-color: var(--amareloEscuro);
    color: var(--branco);
    border: 1px solid var(--amareloMedio);
  }
}
