<app-detail-entity name="do Usuário" (btnBackClick)="btnBack()">
  <div class="row">
    <div class="col-12">
      <label>Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-input
        name="inputName"
        [disabled]="true"
        value="{{ user?.Name }}"
      ></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Email</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-input
        name="inputEmail"
        [disabled]="true"
        value="{{ user?.Email }}"
      ></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Foto</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        *ngIf="user?.Photo"
        src="data:{{ user?.PhotoType }};base64,{{ user?.Photo }}"
        alt="foto"
        width="300"
        height="auto"
      />
      <!-- img src="data:[<media type>][;charset=<character set>][;base64],<data>" -->
    </div>
  </div>
  <div class="row">&nbsp;</div>
</app-detail-entity>
