<div class="row">
  <div class="col-12">
    <span class="title">Confirma a exclusão {{ name }} ?</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card>
      <ng-content></ng-content>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-button
      name="btnConfirmar"
      text="SIM"
      [disabled]="false"
      (click)="btnConfirm()"
      color="vermelho"
      icon="fa-check"
      iconColor=""
    ></app-button>
  </div>
  <div class="col-6">
    <app-button
      name="btnCancel"
      text="NÃO"
      [disabled]="false"
      (click)="btnCancel()"
      color="verde"
      icon="fa-ban"
      iconColor=""
    ></app-button>
  </div>
</div>
