<div class="row">
  <div class="col-12">
    <app-card [height]="80">
      <div class="row">
        <div class="col-2">
          <app-button
            name="btnUsers"
            text="Usuários"
            [disabled]="false"
            color="vermelho"
            (click)="btnUsersClick()"
          >
          </app-button>
        </div>
        <div class="col-2">
          <app-button
            name="btnCategorias"
            text="Categorias"
            [disabled]="false"
            color="azul"
            (click)="btnCategoriasClick()"
          >
          </app-button>
        </div>
        <div class="col-2">
          <app-button
            name="btnComponentes"
            text="Componentes"
            [disabled]="false"
            color="verde"
            (click)="btnComponentesClick()"
          >
          </app-button>
        </div>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card [height]="80">
      <p>Card 1</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card [height]="80">
      <p>Card 2</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card [height]="80">
      <p>Card 3</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card [height]="80">
      <p>Card 4</p>
    </app-card>
  </div>
</div>
