<div class="row">
  <div class="col-md-12">
    <app-card [height]="80">
      <div class="col-md-1">
        <app-button
          name="btnUsers"
          text="Usuários"
          [disabled]="false"
          color="vermelho"
          (click)="btnUsersClick()"
        >
        </app-button>
      </div>
      <div class="col-md-1">
        <app-button
          name="btnCategorias"
          text="Categorias"
          [disabled]="false"
          color="azul"
          (click)="btnCategoriasClick()"
        >
        </app-button>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card [height]="80">
      <p>home works!</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card [height]="80">
      <p>home works!</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card [height]="80">
      <p>home works!</p>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card [height]="80">
      <p>home works!</p>
    </app-card>
  </div>
</div>
