{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["node_modules", "dist"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "arrowFunctions": true
    }
  },
  "rules": {
    //https://eslint.org/docs/rules/
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "semi": ["error", "always"],
    "no-extra-semi": ["error"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "quote-props": ["error", "as-needed"],
    "eol-last": ["error", "always"],
    "linebreak-style": ["error", "windows"],
    "@typescript-eslint/no-explicit-any": ["off", { "ignoreRestArgs": true }],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-extra-semi": "error"
  }
}
